<div class="limiter">
    <div class="container">
    <div class="row">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-login100">
    <form class="login100-form">
    <span class="login100-form-logo">
        <i _ngcontent-hel-c18="" class="fas fa-user fa-fw"></i>
    </span>
    <span class="login100-form-title p-b-34 p-t-27">
    Log in
    </span>
    <div class="from-group marbot">
        <div class="fontpassword"> 
        <label class="color">User Name</label>
        <input class="form-control " type="text" name="" placeholder="Enter Username">
        <i _ngcontent-hel-c18="" class="fas fa-user fa-fw"></i>
        </div>
    </div>
    <div class="from-group">
        <div class="fontpassword">
        <label class="color">Password</label>
        <input class="form-control" type="password" name="" placeholder="Enter Password">
        <i _ngcontent-hel-c18="" class="fas fa-lock fa-fw"></i>
        </div>
    </div>
    <div class="from-group text-center">
    <button (click)="homego()" class="btn btn-default style">Log in</button>
    </div>
    <div class="text-center">
    <a class="txt1" (click)="regipage()">
    Click to Registration?
    </a>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
